$def with(form, highlight_passage, highlight_answer, passage_list)

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>


    <br />
    <div align="center"><img src="static/bupt.png" width="25%" alt="logo" href= /></div>

    <a href="/mrc">
    <h2 align="center" style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Generated Question Answering System</h2>
    </a>

    <div class="container" style="width: 25cm">
    <!-- Content here -->

        <form method="POST" >
            <div class="form-group">
                <label for="query" style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Question:</label>
                <textarea class="form-control" id="query" name="query" rows="1">$:form['query'].value</textarea>
            </div>
            <div class="form-group">
                <label for="passage" style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Passage(optional):</label>
                <textarea class="form-control" id="passage" name="passage" rows="6">$:form['passage'].value</textarea>
            </div>
            <div class="form-group" style="text-align:center;font-family:'Comic Sans MS','Comic Sans',cursive;">
                <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit" action = "./mrc"  style="font-family:'Comic Sans MS','Comic Sans',cursive;"/>
                &nbsp;&nbsp;&nbsp;
                <input type="submit" class="btn btn-primary" id="random" name="random" value="Give an example" action = "./mrc"  style="font-family:'Comic Sans MS','Comic Sans',cursive;"/>
            </div>
            <div class="form-group">
                <label style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Answer:</label>
                <p>$:highlight_answer</p>
                <label style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Highlight Passage:</label>
                <p>$:highlight_passage</p>
            </div>
            <br />
            <label style="color:midnightblue;font-family:'Comic Sans MS','Comic Sans',cursive;">Related Pages:</label>
            <table class="table table-bordered" style="color:black;">
                <tbody>
                    $for idx, item in enumerate(passage_list):
                    <tr><td>$(idx+1)</td><td>$item[0] <br /><a href="$item[1]">$item[1]</a></td></tr>
                </tbody>
            </table>
            <br />
            <br />
            <br />
        </form>
    </div>
</body>
